.box {
  display: flex;
  justify-content: space-between;
}
/*
.big {
  width: 45rem;
} */

.black-box {
  background-color: black;
  color: white;
}

.animal {
  width: 100%
}

.familiar-face{
  width: 40rem;
}

#familiars-list{
  overflow: scroll;
  max-height: 150vh;
}

#reviews-list{
  overflow: scroll;
  max-height: 150vh;
}

.animal-menu-item {
  width: 20rem;
  max-height: 20rem;
  overflow: hidden;
  border-style: solid;
}

.reviews {
  width: 20rem;
}
